.container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top:0px;
    width:100%;
   
    
}
.container2{
     display:flex;
    padding:20px;
    gap: 30px;
}
.child{
    color:antiquewhite
}
.container3{
color:white;
padding:20px;

}
h2,h3{
    text-align: center;
}
.body p{
    margin-left: 15%;
    margin-right: 15%;
}
.container4{
    display: flex;
    margin-left: 150px;
   
}

span img{
    margin-left:100px;
    border-radius: 20px;
}
span h4{
    text-align: center;
    margin-left: 100px;
}
.container5{
    width:100%;
    height: 800px;
    background-color: black;
}
.container5 h2{
  padding-top: 40px;
    text-align: center;
    color:white;
}
.container5 h3{
  
    text-align: center;
    color:white;
}
.sub{
    width:500px;
    height: 150px;
    margin-left: 28%;
    background-color: aliceblue;
}
.sub i{
    background-color: brown;
    color: azure;
    margin-left: 20px;
}

.b2{
   gap:250px;
    display: flex;
    justify-content:space-between;
   
}
.b2 h3{
    background-color: black;
    border-radius: 40%;
    color:rgb(240, 242, 240);
    
}
.container6{
    display:flex;
    justify-content: center;
    margin-top:50px;
    
}
.c1{
    margin-left: 20px;
    background-color: white;
    width:200px;
    height: 450px;
    
}
.c1 h3{
    color:black;
}
.c1 h4{
    color:white;
    background-color: black;
    padding:5px;
    width:100px;
    margin-left: 5px;
}
.container7{
    width:800px;
    height: 300px;
    /* border:1px solid black; */
    margin-left: 200px;
    display: flex;
    
}
.d1 i{
   
    margin: 50px;
}
.d1{
    width:300px;
    height: 100px;
    /* border: 1px solid black; */
    margin-top: 50px;
}
.d2{
     width:400px;
    height: 100px;
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-left: 50px;
}
input{
    padding:5px;
    margin-left: 5px;
}
.d2 h4{
    background-color: black;
    color:white;
    width:50px;
    margin-left: 300px;
    padding: 10px;
}
.footer {
   margin-top: 50px;
   margin-left:450px;
   width:100%;
   height:100px;
   /* border:1px solid red; */
  
}
.footer i{
    text-align: center;
    font-size:x-large;
}
.footer h5{
    font-size: large;
}


