.container{
    width:900px;
    height:600px;
    display:flex;
    flex-wrap:wrap;
    margin-left:250px;

}
h2{
     text-align:center ;
    color:rgb(212, 13, 248);
}
.child{
    width:150px;
    height:150px;
    background:rgb(116, 202, 239);
    text-align:center;
    overflow:hidden;

    display:flex;
    align-items:center;
    justify-content:center;
}

.class1, .class2, .class3{
    display:flex;
    gap:20px;
    margin-bottom:10px;
}

img{
    width:100%;
    height:100%;
    border-radius:5px;
    transition: all 1s ease;
}

.child p{
    position:absolute;         
    opacity:0;
    color:darkmagenta;
    font-size:large;
    transition: all 1s ease;
}

.child:hover img{
    opacity:0;
}

.child:hover p{
    opacity:1;
}
